<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default text-center">
      <div id="word_<%= @word.id %>">
        <%= render @word %>
      </div>
    </div>
  </div>
</div>
<%= link_to t(:edit), edit_admin_word_path(@word), remote: true %>
<%= link_to t(:delete), admin_word_path(@word),
  method: :delete, data: {confirm: t(:confirm)} %>
