<% categories.includes(:words).each do |category| %>
  <tr>
    <td><%= link_to category.name, current_user.is_admin? ?
      [:admin, category] : category %></td>
    <td><%= category.words.size %></td>
    <td><%= l category.created_at, format: :default %></td>
  </tr>
<% end %>
