<% words.each do |word| %>
  <tr>
    <td>
      <%= link_to word.title, current_user.is_admin? ? [:admin, word] : word %>
    </td>
    <td>
      <%= link_to word.category.name, current_user.is_admin? ?
        admin_category_path(word.category) : category_path(word.category) %>
    </td>
    <td><%= l word.created_at, format: :default %></td>
  </tr>
<% end %>
