<% words.each do |word| %>
  <tr>
    <td>
      <%= current_user.is_admin? ?
        link_to(word.title, [:admin, word]) : word.title %>
    </td>
    <td>
      <%= link_to word.category.name, current_user.is_admin? ?
        admin_category_path(word.category) : category_path(word.category) %>
    </td>
    <td><%= l word.created_at, format: :default %></td>
  </tr>
<% end %>
<%= will_paginate %>
