@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.dn-content{
  min-height: 590px!important;
}

.content{
  overflow: auto;
}

.admin-search {
  margin-left: -15px;
  background-color: #ecf0f5;
}

table {
  background-color: #fff;
  width: auto;
}

.admin-action-category {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.4em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
}

.search_form {
  width: 70% !important;
}

.create {
  margin-top: 10px;
}

.category_label {
  margin-right: 10px;
}

.correct_answer {
  @extend .well;
  background-color: #37b2db;
}

.word_title {
  display: inline-block;
  width: 100%;
}

.image_word {
  display: inline-block!important;
  width: 100%;
}

.collect_new_word {
  display: inline-block;
  width: 100%;
}

.word_new {
  background-color: #fff;
  padding: 30px;
}

.category {
  margin-bottom: 10px;
}

.title {
  margin-bottom: 10px;
}

.image {
  margin-bottom: 10px;
}

.button_answer {
}

.word_answer {
  margin-left: -15px;
  margin-bottom: 10px;
  margin-right: 15px;
}

.add_field {
  margin-bottom: 10px;
}

.word_show {
  background-color: #fff;
  padding: 30px;
}
