<li><b><%= f.object.word.title %></b></li>
<ul class="list-unstyled">
  <% f.object.word.answers.each do |answer| %>
    <li id="<%= f.object.word.id %>" onchange="set_number(this.id)">
      <label class="radio-inline">
        <%= f.radio_button :answer_id, answer.id %>
        <%= answer.title %>
      </label>
    </li>
  <% end %>
</ul>
