@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

/* universal */
body {
  padding-top: 60px;
  background: #eee !important;
  font-size: 14px;
}

section {
  overflow: auto;
}

.logo {
  color: #fff !important;
}
a.dropdown-menu {
  color: #000000;
}
textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
  text-align: center;
}

.center h6 {
  margin-bottom: 10px;
  text-align: center;
}
/* login page */

#user_remember_me {
  margin-left: 0;
}

#loginbox {
  margin-top:50px;
}
.panel-body {
  padding-top:30px;
}
.input-group {
  margin-bottom: 5px;
  margin-right: 40px;
}

.social-buttons{
  margin: 20px 0;
}
.social-buttons a{
  width: 30%;
  margin: 0 10px;
}
.btn-facebook{
  color: #fff;
  background-color:#3b5998;
}
.btn-facebook:hover{
  color: #fff;
  background-color:#496ebc;
}
.btn-twitter{
  color: #fff;
  background-color:#55acee;
}
.btn-twitter:hover{
  color: #fff;
  background-color:#59b5fa;
}

/* signup */
#signupbox {
  margin-top: 50px;
}

#signin-button {
  float:right;
  font-size: 120%;
  position: relative;
  top:-20px;
}
#social-signup {
  border-top: 1px solid #999;
  padding-top:20px;
}

.signup {
  margin: 10px 0;
}
#pw-field {
  margin-top: 30px;
}

.signup-sbtn {
  margin: 0 10px;
  width: 40%;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.4em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h6 {
  font-size: 1.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.header {
  background-color: #000000;
}

/* footer */
footer {
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  height: 70px;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 2.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* login page */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
}
select {
  min-width: 200px;
}
table {
  background-color: #fff;
}
.content {
  background-color: #fff;
}
thead.thead-default{
  background-color: #e1e1e1;
}

.correct_answer {
  @extend .well;
  background-color: #5cb85c;
}
.search_form {
  width: 70% !important;
  margin-top: 5px;
}
.search_button {
  width: 100px;
  margin-left: 20px;
}
.btn-md {
  margin: 10px 25px;
  margin-left: 0px;
}
.answer {
  margin-left: 40px;
}
.word-form {
  margin-left: 50px;
}
.result_table {
  margin-left: -45px;
}

label.answer_field {
  font-weight: normal;
}

#time_lesson {
  color: #ff0000;
}

.clock_lesson {
  position: fixed;
  top: 5em;
  right: 5em;
  background-color: #ffffff;
  padding: 10px;
}

.lesson_search {
  margin-top: 5px;
  margin-right: 5px;
  padding-top: 5px;
}

.search_lesson {
  background-color: #e9ebee;
  text-align: center;
}

.answer_show{
  label{
    font-weight: normal !important;

  }
  background-color: #ffffff;
}

.lesson_show {
  background-color: #ffffff;
}

/* user show */
.user-show {
  background-color: #a1d490;
}
.activity {
  background: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 10px;
}
#btn-activity {
  margin: 20px;
}
h5.description {
  text-align: end;
  font-size: 12px;
  margin: 0 auto;
}
hr {
  margin: 8px auto;
}
.home-content {
  background-color: #fff;
}
.col-md-7.home-content {
  padding-top: 3px;
  padding-bottom: 3px;
}
.dn-front-word-filter {
  margin: 5px 20px;
}
aside {
  margin: 5px auto;
}
.select-cate {
  margin-right: 20px;
}

.start_lesson {
  margin-bottom: 10px;
}

.avatar {
  margin-bottom: 20px;
}
