<% if can? :read, @category %>
  <h1><%= @category.name %></h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <%= render @category.words %>
        </div>
      </div>
    </div>
  </div>
<% end %>
