<div class="container">
  <small>
    <%= t "layouts.footer.copyright" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layouts.footer.about"), about_path %></li>
      <li><%= link_to t("layouts.footer.help"), help_path %></li>
    </ul>
  </nav>
</div>
