<header class="navbar navbar-fixed-top navbar-inverse header">
  <div class="container">
    <%= link_to t("layouts.header.title"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right item_header">
        <li><%= link_to t("layouts.header.home"), root_path %></li>
      </ul>
    </nav>
  </div>
</header>
